.navBar {
    width: 100%;
    line-height: 50px;
    background-color: white;
    font-size: 25px;
    font-family: Nunito;
    padding-left: 20px;
    color: #F52938;
    box-shadow: 1px 1px 10px #c6c6c6;
    position: relative;
    z-index: 10;
}
